node
node_modules
src/main/webapp/node_modules
src/main/resources/static/**
target

.vscode

.settings/
.classpath
.project
.DS_Store

*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag


*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class